.hr{
	border: 4px solid #4E8FCC;
    height: 4px;
    color: #4E8FCC; /* old IE */
    background-color: #4E8FCC; /* Modern Browsers */
	margin-bottom:-12px;
	margin-left:-75px;
}
.hr-line{
    
	border-bottom: 3px solid #4E8FCC;
   	padding-top:230px;
	margin-left:-75px;
}
#education div.row div.col-lg-6, .col-lg-12{
	color: #4E8FCC;
	/*font-style: italic;*/
}
ul{
	padding: 0px;
	margin: 0;
}
li{
	list-style-type: none;
	padding: 0 0 0 13px;
    text-indent: -13px;
	margin: 0;
}
li:before{
	color: #4E8FCC;
    content: "•";
    font-family: FontAwesome;
    font-size: 28px;
    line-height: 30px;
    margin-right: 4px;
    position: relative;
    top: 5px;
}
li span{
color: #000;
}
.text-primary{
 color : #4E8FCC !important;
}
.progress{
	color : #4E8FCC !important;
}
h2 {
	font-weight : 600;
	margin-bottom: 1rem;
	margin-top:2rem;
}
.blue-block{
	border-left: 60px solid #364357 !important;
	float:left;
	margin-left :-75px; 
	height: 80px;
	
	
}
.navy-block{
	border-left: 60px solid #4E8FCC !important;
	float:left;
	margin-left :-75px; 
	height: 80px;
}
.container{
	margin-top: 30px;
}
h4{
	font-weight : 600;
}
p.heading-primary-text{
    font-size: 21px;
    font-weight: 500;
}
div .text-primary{
	/*font-style:Italic;*/
}
.bottomSpace{
	margin-bottom : 20px;
}
.avatar {
    width: 210px ;
	height: 210px;
    border: 5px solid #4E8FCC;
    border-radius: 100%;
}

.topHeader{
	padding-bottom: 20px;
	
}


#education{
	min-height: 232px;
}
/*
#education_master{
	min-height: 915px;
}

#education_bachelor{
	min-height: 232px;
}
*/

#achievements{
	min-height: 361px;
}

#work_experience{
	min-height: 915px;
}

#skills_competencies{
	min-height: 266px;
}

#projects{
	min-height: 389px;
}

#clubs_and_activities{
	min-height: 245px;
}

#publications{
	min-height: 267px;
}

#interests{
	min-height: 128px;
}

#researcher{
	min-height: 232px;
}

#software_engineer{
min-height: 232px;
}


.closeButton {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    color: #000 !important;
    height: 30px;
    line-height: 24px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 30px;
}
.closeButton  i{
	color: #000;
	margin: 0 0 0 1px;
}
.setme div {
    padding: 0 10px;
    width: 85%;
}
.topHeader div#social_info p i{
color: #4E8FCC;
padding-left: 10px;

}

/*
#engineering_intern{
	min-height: 232px;
}

#healthscope{
	min-height: 232px;
}

#multi_thesis_funded_by_shephard_pie{
	min-height: 232px;
}

#sahara_toast_master_club{
	min-height: 232px;
}

#pathrobot_finder{
	min-height: 232px;
}

#mca_digital_2015{
	min-height: 232px;
}

#roger_tennis_on_webgl{
	min-height: 232px;
}

#husky_tennis_club{
	min-height: 232px;
}
#rotaract_club{
	min-height: 232px;
}

#clf_2011{
	min-height: 232px;
}

#heading{
	min-height: 232px;
}

#profile_image{
	min-height: 232px;
}

#social_info{
	min-height: 232px;
}
*/